{% extends 'base.html' %}
{% block title %} The Coffee Shop | {{page_title}} {% endblock %}
{% block content %}
<div class="container">
    <section class="row">
        <div class="col-12">
            <h1 class="page__heading">About Us</h1>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4">
            <img class="img-responsive logo" src="/static/images/logo/logo-sm.png" alt="">
        </div>
        <div class="col-md-8 align align--center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa nisi rerum inventore molestias itaque rem,
            dolores, illum et impedit alias voluptates provident labore. Cumque libero labore iusto possimus laborum
            quo.
        </div>
    </section>

    <section class="row">
        <div class="col-md-8 align align--center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa nisi rerum inventore molestias itaque rem,
            dolores, illum et impedit alias voluptates provident labore. Cumque libero labore iusto possimus laborum
            quo.
        </div>
        <div class="col-md-4">
            <img class="img-responsive logo" src="/static/images/logo/logo-sm.png" alt="">
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            <h2 class="about__grinds__title">Grind Size Guide:</h2>
        </div>
    </section>

    <section class="row about__row-layout">
        <div class="col-md-3 flex">
            <div class="about__grinds__wrapper" style="background-image: url(/static/images/about/extra-coarse.png)">
                <div class="about__grinds__wrapper__content">
                    <h3 class="about__grinds__wrapper__header">Extra Coarse</h3>
                    <p class="about__grinds__wrapper__text">As large as you can go on most popular conical burr grinders
                        – similar to
                        ground peppercorns. </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 flex">
            <div class="about__grinds__wrapper" style="background-image: url(/static/images/about/coarse.png)">
                <div class="about__grinds__wrapper__content">
                    <h3 class="about__grinds__header">Coarse</h3>
                    <p class="about__grinds__text">If you brew with a French Press, you should know your coarse grind.
                        It
                        should look similar to sea salt.</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 flex">
            <div class="about__grinds__wrapper" style="background-image: url(/static/images/about/medium-coarse.png)">
                <div class="about__grinds__wrapper__content">
                    <h3 class="about__grinds__header">Medium Coarse</h3>
                    <p class="about__grinds__text">Not quite medium but not quite coarse – similar looking to
                        coarse/rough
                        sand. </p>
                </div>

            </div>
        </div>
        <div class="col-md-3 flex">
            <div class="about__grinds__wrapper" style="background-image: url(/static/images/about/medium.png)">
                <div class="about__grinds__wrapper__content">
                    <h3 class="about__grinds__header">Medium</h3>
                    <p class="about__grinds__text">The happy medium of grind sizes; a great starting point for testing
                        your
                        grounds. Similar to the consistency of regular sand.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="row about__row-layout">
        <div class="col-md-3 flex">
            <div class="about__grinds__wrapper" style="background-image: url(/static/images/about/medium-fine.png)">
                <div class="about__grinds__wrapper__content">
                    <h3 class="about__grinds__header">Medium Fine</h3>
                    <p class="about__grinds__text">If you love your pour over coffee like us, you will need a medium
                        fine
                        coffee grind size. It’s finer than sand, but not as fine as an espresso grind.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 flex">
            <div class="about__grinds__wrapper" style="background-image: url(/static/images/about/fine.png)">
                <div class="about__grinds__wrapper__content">
                    <h3 class="about__grinds__header">Fine</h3>
                    <p class="about__grinds__text">The most common grind size you’ll come across. When you buy
                        pre-ground
                        coffee, it’s usually a fine grind size (unless otherwise stated). In terms of consistency, it’s
                        a
                        little finer than table salt. </p>
                </div>

            </div>
        </div>
        <div class="col-md-3 flex">
            <div class="about__grinds__wrapper" style="background-image: url(/static/images/about/very-fine.png)">
                <div class="about__grinds__wrapper__content">
                    <h3 class="about__grinds__header">Very Fine</h3>
                    <p class="about__grinds__text">You’ll rarely use an extra fine grind and you need a Turkish coffee
                        grinder to achieve a fine and consistent grind like this. It’s similar to flour or powder in
                        texture.</p>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}