{% extends 'base.html' %}
{% block title %} The Coffee Shop | {{page_title}} {% endblock %}
{% block content %}
{% include 'components/banners/top-banner.html' %}
<div class="home">
    <div class="container">
        <section class="row">
            <div class="col-12">
                <h1 class="home__title">The Coffee Shop</h1>
            </div>
        </section>

        <section class="row">
            <div class="home__latest-products">
                {% for product in products %}
                    {{product.name}}
                {% endfor %}
            </div>
        </section>

        <section class="row home__layout">
            <div class="col-md-7 align align--center">
                <div class="home__welcome">
                    <h2 class="home__welcome__title">Discover Our Range</h2>
                    <p class="home__welcome__text">Browse through our online shop to discover the excellent array of coffee options available to you,
                        if you need help selecting the perfect blend for you, you can always reach out to us and of our baristas will be in touch.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img class="img-responsive" src="/static/images/home/coffee-image-1.png" alt="Coffee beans on a board">
            </div>
        </section>

        <section class="row home__layout">
            <div class="col-md-5">
                <img class="img-responsive" src="/static/images/home/barista.png" alt="Coffee barista">
            </div>
            <div class="col-md-7 align align--center">
                <div class="home__welcome">
                    <h2 class="home__welcome__title">We Love Coffee</h2>
                    <p class="home__welcome__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At fuga accusamus quibusdam minus.
                        Officiis
                        nesciunt sunt ea minus minima perferendis quas veniam est, velit aperiam similique iste! Quae,
                        velit! Doloremque!</p>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="col-md-4 col-12">
                <div class="home__promo">
                    <p class="home__promo__text">We provide only the finest quality coffee</p>
                    <a class="btn btn--secondary" href="/">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="home__promo">
                    <p class="home__promo__text">We provide only the finest quality coffee</p>
                    <a class="btn btn--secondary" href="/">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="home__promo">
                    <p class="home__promo__text">We provide only the finest quality coffee</p>
                    <a class="btn btn--secondary" href="/">Read More</a>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}