{% extends 'base.html' %}
{% block title %} The Coffee Shop | {{page_title}} {% endblock %}
{% block content %}
{% include 'components/banners/top-banner.html' %}
<div class="home">
    <div class="container">
        <!-- introduction -->
        <section class="row">
            <div class="col-12">
                <div class="home__intro">
                    <h1 class="home__intro__title">The Coffee Shop</h1>
                    <p class="home__intro__quote">"Everyone should believe in something. I believe I will have another
                        coffee."</p>
                </div>

            </div>
        </section>
    </div>

    <div class="strip-banner">
        <div class="strip-banner__content">
            <h3>Browse our Coffee Shop and find the perfect blend for you.</h3>
            <a class="btn btn--primary" href="/products">Shop Now</a>
        </div>
    </div>

    <div class="container">
        <!-- home-info 1 -->
        <section class="row home__layout">
            <div class="col-md-7 align align--center">
                <div class="home__welcome">
                    <h2 class="home__welcome__title">Discover Our Range</h2>
                    <p class="home__welcome__text">Browse through our online shop to discover the excellent array of
                        coffee options available to you,
                        if you need help selecting the perfect blend for you, you can always reach out to us and of our
                        baristas will be in touch.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img class="img-responsive" src="/static/images/home/coffee-image-1.png" alt="Coffee beans on a board">
            </div>
        </section>
    </div>

    <div class="container">
        <!-- home-info 2 -->
        <section class="row home__layout">
            <div class="col-md-5">
                <img class="img-responsive" src="/static/images/home/barista.png" alt="Coffee barista">
            </div>
            <div class="col-md-7 align align--center">
                <div class="home__welcome">
                    <h2 class="home__welcome__title">We Love Coffee</h2>
                    <p class="home__welcome__text">Coffee is an extremely important part of our lives, and we think it
                        should be part of yours too!
                        Speak to one of our coffee experts to not only find out the amazing benefits but also find a
                        blend that is perfect for your taste.
                    </p>
                </div>
            </div>
        </section>
    </div>

    <div class="strip-banner">
        <div class="strip-banner__content">
            <div class="container">
                <section class="row">
                    <div class="col-12">
                        <h3>Listen to the experts</h3>
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/LkBOAvzWNfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- latest products -->
        <section class="row home__layout">
            <div class="col-md-12">
                <h2 class="home__latest-products__title">Latest products</h2>
            </div>
            <div class="col-12">
                <div class="home__latest-products__slick">
                    {% for product in products %}
                    <div class="home__latest-products__slick__slide">
                        <a href="{% url 'view_product_detail' product.id %}">
                            <img class="img-responsive" src="/static/{{product.image}}" alt="{{product.name}}">
                            <div class="home__latest-products__slick__slide__content">
                                <p class="home__latest-products__slick__slide__content__text">{{ product.name }}</p>
                                <p class="home__latest-products__slick__slide__content__price">£{{ product.price }}
                                </p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>
    </div>

    <!-- <div class="container">
        <section class="row">
            <div class="col-md-4 col-12">
                <div class="home__promo">
                    <p class="home__promo__text">We provide only the finest quality coffee</p>
                    <a class="btn btn--secondary" href="/">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="home__promo">
                    <p class="home__promo__text">We provide only the finest quality coffee</p>
                    <a class="btn btn--secondary" href="/">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="home__promo">
                    <p class="home__promo__text">We provide only the finest quality coffee</p>
                    <a class="btn btn--secondary" href="/">Read More</a>
                </div>
            </div>
        </section>
    </div> -->

    <div class="strip-banner">
        <div class="strip-banner__content">
            <h3>Still unsure about what coffee to purchase?</h3>
            <a class="btn btn--primary" href="{% url 'contact' %}">Get In Touch</a>
        </div>
    </div>

</div>
{% endblock %}