<div class="top-banner">
    <div class="top-banner__wrapper">
        <div class="top-banner__wrapper__image">
            <div class="top-banner__wrapper__image__content">
                <h2>The Coffee Shop</h2>
                <p>Welcome to The Coffee Shop</p>
                <div class="top-banner__wrapper__image__content__buttons">
                    <a class="btn btn--primary" href="/products">Shop Coffee</a>
                    <a class="xs-hide btn btn--no-inner" href="{% url 'login' %}">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>