// TheCoffeeShop colours
$primary-color: #1fa4e5; // primary - carolina blue
$secondary-color: #535353; // secondary - davy's grey
$tertiary-color: #5C6D70; // tertiary - cadet
$white-color: #ffffff; // white
$black-color: #000; // black

// layout-colours 
$main-nav-color: $secondary-color;
$main-footer-color: $secondary-color;
$main-background-color: $white-color;

// shadows
$panel-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
$text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);

// transitions
$fast-transition: 0.25s all ease-in-out;
$slow-transition: 0.5s all ease-in-out;