{% extends 'base.html' %}

{% block title %} The Coffee Shop | All Products {% endblock %}

{% block content %}
<div class="container">
    <section class="row">
        {% for product in products %}
        <div class="col-md-4 col-sm-6 col-12 flex">
            <div class="products">
                <div class="products__wrapper">
                    <a aria-label="View Product Detail" class="products__main-link" href="{% url 'view_product_detail' product.id %}">
                        <div class="products__wrapper__image">
                            <img class="img-responsive" src="/{{product.image}}" alt="{{product.name}}">
                        </div>
                        <h3 class="products__wrapper__title">{{product.name}}</h3>
                    </a>
                    <div class="products__wrapper__content">
                        <div class="products__wrapper__content__text">
                            <p>{{product.grind_size}}</p>
                            <p>{{product.excerpt}}</p>
                        </div>
                        <div class="products__wrapper__content__price">
                            <p>From: {{product.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <section class="row">
        <div class="col-sm-12">
            {% include 'components/pagination.html' %}
        </div>
    </section>
</div>

{% endblock %}