// styles for cart

.cart {

    &-row {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    &__item {
        box-shadow: $panel-shadow;
        margin-top: 10px;
        border-radius: $default-border-radius;

        &__thumbnail {
            border-radius: $default-border-radius;
        }

        &__contents {
            padding: 2vh;

            @include breakpoint(xs) {
                text-align: center;
            }

            p {
                padding: 5px 0;
            }

            &__price {
                color: $success-color;
                font-size: 1.4rem;
            }

            &__rrp {
                color: $required-color;
                text-decoration: line-through;
            }
        }

        &__update-form {

            &__group {
                display: flex;
                flex-wrap: nowrap;

                input {
                    border: 1px solid $primary-color;
                    outline: none;
                    border-radius: 6px 0 0 6px;
                    text-align: center;
                }

                button {
                    border-radius: 0 6px 6px 0;
                }
            }
        }
    }

    &__total {
        @include breakpoint(xs) {
            text-align: center;
            padding-top: 30px;
        }

        &__value {
            font-size: 1.3rem;
            padding-bottom: 10px;
            color: $success-color;
        }
    }

    &__adjust {
        padding-top: 20px;
    }

    &__empty {
        text-align: center;

        p {
            padding: 10px 0;
        }
    }

    &__extras {
        @include breakpoint(xs) {
            text-align: center;
        }

        a {
            color: $text-on-white-color;
        }
    }
}