// styles for forms
.form {
    margin: auto;
    display: block;
    max-width: 50%;
    background: $main-panel-color;
    padding: 20px;
    border-radius: $default-border-radius;
    box-shadow: $panel-shadow;

    @include breakpoint(xs) {
        max-width: 100%;
    }

    &__group {
        color: $black-color;
        padding: 10px 0;

        &__label {
            display: block;
        }

        input {
            width: 100%;
            border-radius: $default-border-radius;
            border: none;
            height: 40px;
            padding: 10px;
        }

        textarea {
            width: 100%;
            border-radius: $default-border-radius;
            border: none;
            padding: 10px;
        }
    }

    &__required {
        color: $required-color;
        padding-left: 2px;
    }

    &__submit {
        margin: auto;
        display: block;
        margin-top: 10px;
    }

    &__bottom-message {
        text-align: center;
        padding-top: 20px;
    }
}