// product page styles

.product {

    &__image {
        border-radius: $default-border-radius;
        box-shadow: $panel-shadow;

        img {
            border-radius: $default-border-radius;
        }
    }

    &__content {
        vertical-align: middle;
        max-width: 100%;

        @include breakpoint(sm) {
            text-align: center;
            padding-top: 15px;
        }

        p {
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            padding: 15px 0;

            &:last-of-type {
                border-bottom: none;
            }
        }

        &__info {
            padding-left: 5px;
            transition: $fast-transition;

            a {
                color: $text-on-white-color;
                cursor: help;

                &:hover {
                    color: darken($primary-color, 10%);
                }
            }
        }

        &__header {
            font-size: 1.3rem;
            display: block;
            padding-bottom: 5px;
        }

        &__price {
            color: $success-color;
            font-size: 1.4rem;

            &__rrp {
                padding-right: 5px;
                text-decoration: line-through;
                color: $error-color;
                font-size: 1rem;
            }
        }

        &__add-to-cart {
            display: flex;
            flex-wrap: nowrap;

            @include breakpoint(xs) {
                justify-content: center;

            }

            input {
                border-radius: 6px 0 0 6px;
                border: 1px solid $primary-color;
                outline: none;
                text-align: center;
            }

            button {
                border-radius: 0 6px 6px 0;
            }
        }

        &__description {
            &__two {
                display: none;
            }
        }

        &__read {
            color: $text-on-white-color;
            padding: 0 2px;

            &:hover {
                color: darken($text-on-white-color, 10%);
            }
        }
    }
}