{% extends 'base.html' %}
{% block title %} The Coffee Shop | Checkout Page {% endblock %}
{% block content %}
<div class="container">
    <section class="row">
        <div class="col-12">
            <h1 class="page__heading">Checkout</h1>
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa nisi rerum inventore molestias itaque rem, dolores, illum et impedit alias voluptates provident labore. Cumque libero labore iusto possimus laborum quo.
        </div>
    </section>
</div>
{% endblock %}