{% extends 'base.html' %}
{% block title %} The Coffee Shop | Checkout Page {% endblock %}
{% block content %}
<div class="container">
    <section class="row">
        <div class="col-12">
            <h1 class="page__heading">Checkout</h1>
        </div>
    </section>

    <section class="row">
        <div class="col-md-8">
            <div class="checkout__details">
                <form class="checkout__form" action="">
                    {% csrf_token %}
                    <div class="checkout__form__group">
                        
                    </div>
                    {{ payment_form }}
                    {{ order_form }}
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="checkout__header">Order Summary</h3>
            {% for item in cart_items %}
            <section class="row checkout__row">
                <div class="col-5">
                    <img class="img-responsive" src="/static/{{item.product.image}}" alt="{{item.product.name}}">
                </div>
                <div class="col-7 align align--center">
                    <div class="checkout__summary">
                        <p class="checkout__summary__title">{{item.product.name}}</p>
                        <p class="checkout__summary__price">£{{item.product.price}}</p>
                        <p class="checkout__sumamary__quantity">Qty: {{item.quantity}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            <section class="row checkout__row">
                <div class="col-12">
                    <div class="checkout__total">
                        <p>Order Total: {{ total }}</p>
                        <a class="btn btn--primary" href="/">Make Payment</a>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
{% endblock %}