{% extends 'base.html' %}

{% block title %} The Coffee Shop | Login Page {% endblock %}

{% block content %}
<div class="container">
    <section class="row">
        <div class="col-12">
            <h1 class="page__heading">Login Here</h1>
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            {% include 'components/message.html' %}
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="form__group">
                    <label class="form__group__label" for="username">Username<span
                            class="form__required">*</span></label>
                    {{ form.username }}
                </div>
                <div class="form__group">
                    <label class="form__group__label" for="password">Password<span
                            class="form__required">*</span></label>
                    {{ form.password }}
                </div>
                <button class="form__submit btn btn--primary" type="submit">Sign In</button>
                <p class="form__bottom-message">Need an account? register one <a
                        href="/accounts/register">Here</a></p>
            </form>
        </div>
    </section>
</div>
{% endblock %}