{% extends 'base.html' %}

{% block title %} The Coffee Shop | Profile Page Page {% endblock %}

{% block content %}
<div class="container">
    <section class="row">
        <div class="col-12">
            <h2 class="page__heading">Welcome back, <span class="profile__message__user">{{user.username}}.</span></h2>
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="row">
        <div class="col-md-4 col-12">
            <div class="profile__navigation">
                <ul class="profile__navigation__list">
                    <a class="profile__navigation__link__account" href="#">
                        <li class="profile__navigation__list__item"><i class="fas fa-fw fa-user"></i>My Account</li>
                    </a>
                    <a class="profile__navigation__link__orders" href="#">
                        <li class="profile__navigation__list__item"><i class="fas fa-fw fa-shopping-basket"></i>My
                            Orders</li>
                    </a>
                    <a href="/accounts/logout">
                        <li class="profile__navigation__list__item"><i class="fas fa-fw fa-sign-out-alt"></i>Log Out
                        </li>
                    </a>
                    <!-- if flagged as staff or admin -->
                    {% if user.is_staff %}
                        <a class="profile__navigation__link__product-upload" href="#">
                            <li class="profile__navigation__list__item"><i class="fas fa-fw fa-upload"></i>Upload a Product
                            </li>
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- account panel -->
        <div class="col-md-8 col-12 profile__dashboard__account">
            <h1 class="profile__dashboard__title">Your Account</h1>
            <div class="profile__dashboard">
                
                <div class="profile__dashboard__edit">
                    <h5>Edit your account details</h5>
                    <a class="edit-profile-trigger" href="#"><i class="fas fa-edit"></i></a>
                    <a class="profile__dashboard__edit__close edit-profile-close" href="#"><i class="profile__dashboard__close fas fa-window-close"></i></a>
                </div>
         

                <form method="POST" id="edit-details-form" class="profile__dashboard__edit__form" action="{% url 'profile' %}">
                    {% csrf_token %}
                    <div class="profile__dashboard__group">
                        <p>Your Username:</p>
                        <p class="profile__dashboard__account__username">{{user.username}}</p>
                        <div class="profile__dashboard__group__input">
                            {{ update_form.username }}
                        </div>
                    </div>
                    <div class="profile__dashboard__group">
                        <p>Your Email:</p>
                        <p class="profile__dashboard__account__value">{{user.email}}</p>
                        <div class="profile__dashboard__group__input">
                            {{ update_form.email }}
                        </div>
                    </div>
                    <div class="profile__dashboard__group">
                        <p>Your First Name:</p>
                        <p class="profile__dashboard__account__value">{{user.first_name}}</p>
                        <div class="profile__dashboard__group__input">
                            {{ update_form.first_name }}
                        </div>
                    </div>
                    <div class="profile__dashboard__group">
                        <p>Your Last Name:</p>
                        <p class="profile__dashboard__account__value">{{user.last_name}}</p>
                        <div class="profile__dashboard__group__input">
                            {{ update_form.last_name }}
                        </div>
                    </div>
                    <button class="profile__dashboard__group__submit btn btn--primary" type="submit">Edit Details</button>
                </form>
            </div>
        </div>
        <!-- orders panel -->
        <div class="col-md-8 col-12 profile__dashboard__orders">
            <h1 class="profile__dashboard__title">Your Orders</h1>
            <div class="profile__dashboard">
                <p>DISPLAY ORDERS HERE IF ANY</p>
            </div>
        </div>
        <!-- product upload panel -->
        <div class="col-md-8 col-12 profile__dashboard__product">
            <h1 class="profile__dashboard__title">Upload A Product</h1>
            <div class="profile__dashboard">
                <form class="profile__dashboard__product__form" method="POST" action="{% url 'profile' %}">
                    {% csrf_token %}
                    <div class="profile__dashboard__group__product">
                        <label for="name">Product Name</label>
                        {{product_upload_form.name}}
                    </div>

                    <div class="profile__dashboard__group__product">
                        <label for="grind-size">Grind Size</label>
                        {{product_upload_form.grind_size}}
                    </div>

                    <div class="profile__dashboard__group__product">
                        <label for="description">Description</label>
                        {{product_upload_form.description}}
                    </div>

                    <div class="profile__dashboard__group__product">
                        <label for="name">Image</label>
                        {{product_upload_form.image}}
                    </div>

                    <div class="profile__dashboard__group__product">
                        <label for="name">Price</label>
                        {{product_upload_form.price}}
                    </div>

                    <button class="profile__dashboard__group__product__submit btn btn--primary" type="submit">Upload Product</button>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}