// styles for about us page

.about {

    &__logo {
        max-width: 15%;
        margin-bottom: 30px;

        @include breakpoint(xs) {
            max-width: 40%;
        }
    }

    &__intro {
        text-align: center;
        padding: 5px 0;

        a {
            margin-top: 20px;
        }
    }

    &__grinds {
        &__title {
            text-align: center;
            padding: 20px 0;
        }

        &__wrapper {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            color: $white-color;
            position: relative;
            border-radius: $default-border-radius;
            box-shadow: $panel-shadow;
            margin-bottom: 30px;

            &__content {
                padding: 20px;
                text-align: center;
                background: rgba(0, 0, 0, 0.5);
                border-radius: $default-border-radius;
                height: 100%;
                text-align: center;

                p {
                    font-size: 0.9rem;
                }
            }
        }
        &__header {
            margin: 0;
            padding: 0;
        }
    }
}