// home-page stlyes

.home {
    padding-top: 10px;

    &__layout {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__split {
        background: $secondary-color;
    }

    &__intro {
        text-align: center;
        padding-bottom: 15px;

        &__title {
            padding-bottom: 5px;
            font-size: 4rem;

            @include breakpoint(xs) {
                font-size: 2.2rem;
            }
        }

        &__quote {
            font-style: italic;
            font-size: 1.3rem;
        }

        &__logo {
            padding-bottom: 10px;
            max-width: 20%;

            @include breakpoint(xs) {
                max-width: 40%;
            }
        }
    }

    &__promo {
        background: $primary-color;
        box-shadow: $panel-shadow;
        border-radius: $default-border-radius;

        &__text {
            color: $white-color;
            padding: 10px;
            font-size: 1.8rem;
            text-align: center;
        }
    }

    &__welcome {

        &__title {
            padding-bottom: 20px;
        }

        &__text {
            padding-bottom: 10px;
        }
    }

    &__latest-products {

        &__title {
            text-align: center;
        }

        &__slick {

            &__slide {
                padding: 0 15px;

                &__content {
                    box-shadow: $panel-shadow;
                    text-align: center;
                    background: $secondary-color;
                    padding: 10px;
                    border-radius: $default-border-radius;


                    &__text {
                        color: $white-color;
                    }
                }
            }
        }


    }
}