// profile page styles
.profile {
    &__message {
        &__user {
            text-transform: capitalize;
        }
    }

    &__navigation {
        &__list {
            list-style: none;

            a {
                &:hover {
                    li {
                        background: $secondary-color;
                        color: $white-color;
                    }
                }
            }

            &__item {
                background: $main-panel-color;
                border-radius: $default-border-radius;
                border-bottom: 4px solid $white-color;
                padding: 12px;
                color: $text-on-white-color;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    &__dashboard {
        padding: 20px;
        background: $main-panel-color;
        border-radius: $default-border-radius;

        &__title {
            padding-bottom: 20px;

            @include breakpoint(md) {
                text-align: center;
            }
        }

        &__orders {
            display: none;

            &__line-item {
                margin-bottom: 20px;
            }

            &__total {
                @include breakpoint(xs) {
                    text-align: center;
                }
            }
            
            &__cta {
                text-align: center;
            }
        }

        &__product {
            display: none;

            &__form {
                margin: auto;
                max-width: 100%;
                display: block;
            }
        }

        &__group {
            display: flex;
            padding: 10px 0;
            margin-bottom: 3px;

            @include breakpoint(md) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                display: block;
                padding: 20px 0;

                &:last-of-type {
                    border-bottom: none;
                }
            }

            &__input {
                margin-left: auto;

                input {
                    border-radius: $default-border-radius;
                    border: none;
                    outline: none;
                    box-shadow: $panel-shadow;
                    padding: 10px;
                    height: 30px;
                }

                @include breakpoint(md) {
                    input {
                        width: 100%;
                    }
                }
            }

            &__submit {
                margin-left: auto;

                @include breakpoint(md) {
                    margin: auto;
                }
            }

            &__product {
                padding: 10px 0;
                margin: auto;
                max-width: 80%;

                input,
                textarea {
                    display: block;
                    width: 100%;
                    border-radius: $default-border-radius;
                    box-shadow: $panel-shadow;
                    border: none;
                    outline: none;
                }

                &__submit {
                    margin: auto;
                    display: block;
                }
            }

        }

        &__account {
            &__username {
                text-transform: capitalize;
                padding-left: 5px;

                @include breakpoint(md) {
                    padding: 10px 0;
                }
            }

            &__value {
                padding-left: 5px;

                @include breakpoint(md) {
                    padding: 10px 0;
                }
            }
        }

        &__edit {
            display: flex;

            i {
                padding-left: 5px;
                font-size: 20px;
                color: $text-on-white-color;
            }

            &__form {
                margin-top: 20px;

                input,
                button {
                    display: none;
                }

                &__show {

                    input,
                    button {
                        display: block;
                    }
                }
            }

            &__close {
                display: none;
            }
        }

        &__close {
            color: $required-color !important;
        }

        &__orders {
            margin-bottom: 20px;

            &__panel {
                padding: 20px;
                background: $white-color;
                border-radius: $default-border-radius;
                box-shadow: $panel-shadow;
                margin-bottom: 20px;
            }

            &__image {
                img {
                    border-radius: $default-border-radius;
                    box-shadow: $panel-shadow;
                }
            }
        }
    }
}