// profile page styles
.profile {
    &__message {

        &__user {
            text-transform: capitalize;
        }
    }

    &__navigation {
        padding: 20px 0;

        &__list {
            list-style: none;

            a {
                &:hover {
                    li {
                        background: $secondary-color;
                        color: $white-color;
                    }
                }
            }

            &__item {
                background: $main-panel-color;
                border-radius: $default-border-radius;
                border-bottom: 4px solid $white-color;
                padding: 12px;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    &__dashboard {
        padding: 20px;
        background: $main-panel-color;
        border-radius: $default-border-radius;

        &__title {
            padding: 10px 0;

            @include breakpoint(md) {
                text-align: center;
            }
        }

        &__orders {
            display: none;
        }

        &__product {
            display: none;
        }

        &__group {
            display: flex;
            padding: 10px 0;
            margin-bottom: 3px;

            @include breakpoint(md) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                display: block;
                padding: 20px 0;

                &:last-of-type {
                    border-bottom: none;
                }
            }

            &__input {
                margin-left: auto;

                @include breakpoint(md) {
                    input {
                        width: 100%;
                    }
                }
            }

            &__submit {
                margin-left: auto;

                @include breakpoint(md) {
                    margin: auto;
                }
            }

        }

        &__account {
            &__username {
                text-transform: capitalize;
                padding-left: 5px;

                @include breakpoint(md) {
                    padding: 10px 0;
                }
            }

            &__value {
                padding-left: 5px;

                @include breakpoint(md) {
                    padding: 10px 0;
                }
            }
        }

        &__edit {
            display: flex;

            i {
                padding-left: 5px;
                font-size: 20px;
            }

            &__form {
                margin-top: 20px;

                input,
                button {
                    display: none;
                }

                &__show {

                    input,
                    button {
                        display: block;
                    }
                }
            }

            &__close {
                display: none;
            }
        }

        &__close {
            color: $required-color;
        }
    }
}