// styles for thankyou page

.thankyou {
    text-align: center;

    &__icon {
        font-size: 5rem;
        color: $text-on-white-color;
    }

    &__title {
        padding: 10px 0;
    }

    &__buttons {
        padding: 10px 0;
    }
}