{% extends 'base.html' %}
{% load static %}
{% block title %} The Coffee Shop | Your Shopping Cart {% endblock %}

{% block content %}
<div class="container">
    <section class="row">
        <div class="col-12">
            <h1 class="page__heading">Your Cart</h1>
        </div>
    </section>
    {% if product_total > 0 %}
    {% for p in cart_items %}
    <section class="row cart-row">
        <div class="col-5 col-md-4">
            <div class="cart__item">
                <img class="cart__item__thumbnail img-responsive" src="/static/{{p.product.image}}"
                    alt="{{product.name}}">
            </div>
        </div>
        <div class="col-7 col-md-8 align align--center">
            <div class="cart__item__contents">
                <h3>{{p.product.name}}</h3>
                <p class="cart__item__contents__excerpt">{{p.product.excerpt}}</p>
                <p class="cart__item__contents__rrp">RRP: £{{p.product.recommended_retail_price}}</p>
                <p class="cart__item__contents__price">£{{p.product.price}}</p>
            </div>
        </div>
        <div class="col-12">
            <div class="cart__adjust">
                <h5>In the cart: {{ p.quantity }}</h5>
                <form id="edit-qty-form" method="POST" class="cart__item__update-form" action="{% url 'adjustcart' p.id %}">
                    {% csrf_token %}
                    <div class="cart__item__update-form__group">
                        <input name="quantity" type="number" min="0" max="999" value="{{p.quantity}}">
                        <button id="edit-qty" class="btn btn--primary" type="submit">Edit Quantity</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endfor %}

    <section class="row">
        <div class="col-md-6 align align--center">
            <div class="cart__extras">
                <p>Are you missing some items? make sure to double check <a href="/">in the shop</a> before placing your
                    order!</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="cart__total">
                <h4>Your Cart Total:</h4>
                <p class="cart__total__value">£{{ total }}</p>
                <a id="checkout-button" class="btn btn--primary" href="{% url 'checkout' %}">Checkout</a>
            </div>
        </div>
    </section>
    {% else %}
    <section class="row">
        <div class="col-12">
            <div class="cart__empty">
                <h3>Your cart is empty!</h3>
                <p>Browse our extensive range of coffee products in our online shop!</p>
                <a class="btn btn--primary" href="/products">Continue Shopping</a>
            </div>
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}