<!-- main nav bar -->
<nav class="main-nav">
    <div class="main-nav__logo">
        <a href="/">
            <img src="/static/images/logo/coffee-shop-logo.png" alt="The Coffee Shop Logo">
        </a>
    </div>
    <div class="main-nav__nav">
        <ul class="main-nav__nav__list">
            <li class="main-nav__nav__list__item"><a href="/">Home</a></li>
            <li class="main-nav__nav__list__item"><a href="/products">Shop</a></li>
            <li class="main-nav__nav__list__item"><a href="/about-us">About Us</a></li>
            <li class="main-nav__nav__list__item"><a href="/contact-us">Contact Us</a></li>
        </ul>
    </div>
    <div class="main-nav__icon-nav">
        <ul class="main-nav__icon-nav__list">
            <li class="main-nav__icon-nav__list__item main-nav__icon-nav__list__item__burger-nav"><a href="/"><i class="fas fa-bars"></i></a></li>
            <li class="main-nav__icon-nav__list__item main-nav__icon-nav__list__item__search"><a href="/"><i class="fas fa-search"></i></a></li>
            <li class="main-nav__icon-nav__list__item"><a href="/"><i class="fas fa-user"></i></a></li>
            <li class="main-nav__icon-nav__list__item"><a href="/"><i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </div>
</nav>