<!-- mobile nav -->
<div class="mobile-nav">
    <div class="mobile-nav__panel">
        <div class="mobile-nav__panel__inner">
            <div class="mobile-nav__panel__inner__top">
                <div class="mobile-nav__search">
                    <form class="mobile-nav__search__form" action="{% url 'search' %}" method="GET">
                        <input class="mobile-nav__search__form__input" type="text" name="q"
                            placeholder="Search for a product name">
                        <button class="mobile-nav__search__form__button" type="search"><i
                                class="fas fa-search"></i></button>
                    </form>
                </div>
                <ul class="mobile-nav__panel__list">
                    <li class="mobile-nav__panel__list__item"><a href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a></li>
                    <li class="mobile-nav__panel__list__item"><a href="/products"><i class="fas fa-shopping-basket"></i>Shop</a>
                    </li>
                    <li class="mobile-nav__panel__list__item"><a href="{% url 'about' %}"><i class="fas fa-question-circle"></i>About
                            Us</a></li>
                    <li class="mobile-nav__panel__list__item"><a href="{% url 'contact' %}"><i class="fas fa-phone"></i>Contact Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="mobile-nav__panel__list__item"><a href="{% url 'profile' %}"><i class="fas fa-user"></i>Profile</a></li>
                    <li class="mobile-nav__panel__list__item"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>
                    {%  else %}
                    <li class="mobile-nav__panel__list__item"><a href="{% url 'register' %}"><i class="fas fa-user"></i>Register</a></li>
                    <li class="mobile-nav__panel__list__item"><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="mobile-nav__panel__inner__bottom">
                <img class="mobile-nav__panel__inner__bottom__logo img-responsive logo"
                    src="/static/images/logo/logo-sm.png" alt="The Coffee Shop Logo">
                <h2 class="mobile-nav__panel__inner__bottom__title">The Coffee Shop</h2>
                <p class="mobile-nav__panel__inner__bottom__quote">"Coffee, then adulting"</p>
            </div>
        </div>
    </div>
</div>